@import '../../common/component.scss';

.btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;

    &-submit {
        background-color: green;
    }

    &-cancel {
        background-color: red;
    }
}